/*nav a {
	display: inline-block;
	color: black; 
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}*/

/*nav {
	margin-right: -10px;
	margin-left: -10px;
	margin-top: -10px;
	margin-bottom: 60px;
	overflow: hidden;
    }*/

nav a:hover { background-color: gray;  text-decoration: none;}

h1 { text-align: center; color: inherit; font-weight: normal;}

input a:link { text-decoration: none; }

input a:visited { text-decoration: none; }

input a:hover { text-decoration: underline; }

a { text-decoration: none; }


